
obj/Debug/GameOfLifeClans.exe
obj/Debug/App.g.cs
*.cache
obj/Debug/MainWindow.g.i.cs
obj/Debug/MainWindow.g.cs
obj/Debug/GameOfLifeClans_MarkupCompile.lref
obj/Debug/GameOfLifeClans.pdb
obj/Debug/GameOfLifeClans.csproj.FileListAbsolute.txt
obj/Debug/GameOfLifeClans.csproj.CoreCompileInputs.cache
obj/Debug/GameOfLifeClans.g.resources
obj/Debug/GameOfLifeClans.Properties.Resources.resources
obj/Debug/GameOfLifeClans.csproj.CoreCompileInputs.cache
*.exe
obj/Debug/MainWindow.baml
obj/Debug/GameOfLifeClans.csproj.CoreCompileInputs.cache
*.cache
obj/Debug/MainWindow.g.i.cs
obj/Debug/GameOfLifeClans.csproj.CoreCompileInputs.cache
bin/Debug/GameOfLifeClans.pdb
bin/Debug/GameOfLifeClans.exe.config
obj/Debug/GameOfLifeClans.csproj.CoreCompileInputs.cache
obj/Debug/MainWindow.g.i.cs
